@use "./Sass/helper/variables" as *;
@use "./Sass/helper/mixin" as *;
.footer {
  background-color: $dark-color;
  .copyright {
    > span {
      color: $green-color;
    }
    div {
      span {
        color: $yellow-color;
      }
    }
  }
  .row {
    img {
      width: 100px;
      height: 70px;
    }
  }
  ul {
    li {
      a {
        color: inherit;
      }
    }
  }
  .icons {
    svg {
      width: 20px;
      height: 20px;
      padding: 6px;
      cursor: pointer;
      &.facebook {
        background-color: #1877f2;
      }
      &.twitter {
        background-color: #1da1f2;
      }
      &.google {
        background-color: #dd4b39;
      }
      &.youtube {
        background-color: #ff0000;
      }
    }
  }
}
